@import "../../vars.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.skills{
    background-color: rgb(116, 46, 182);
    padding: 20px;
    margin-top: 100px;
}
.abilities{
    text-align:center ;
    color: white;
    font-size: 35px;
    font-weight: 900;
    font-family: var(--font-outfit);
}
.abilities span{
    color: yellow;
}
.set{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 200px;
    margin-top: 70px;
    margin-bottom: 20px;
    justify-content:flex-start;
    align-items: center;
    background-color: rgb(51, 9, 90);
    border-radius: 15px;
}

.set1{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items:center;
    width:100px;
    height: 110px;
    border-radius: 10px;
    padding: 15px;
}
.set1 img{
    width: 50px;
    height:50px;
}
.set1 .git{
    width: 55px;
    height: 55px;
   
}    
@media screen and (max-width:600px)
{
    .set{
        margin: 20px;
        margin-top: 30px;
        justify-content: center;
    }
    .set1{
     width:100px;
    height: 90px;
    
    padding: 10px;
    }
    .set1 img{
    width: 40px;
    height:40px;
    }
    .set1 .git{
    width: 45px;
    height: 45px;
   
    }
    .abilities{
    font-size: 30px;
    
    }       


}
    
