@import "../../vars.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-outfit);
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
     padding: 30px;
     margin-top: 50px;
}
.foot{
    padding: 30px;
    display: flex;
    align-items:first baseline;
    justify-content:center;
    padding-bottom: 50px;
    gap: 50px;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.link1{
    display: flex;
    align-items: center;

}
.link2{
    display: flex;
    align-items: center;
    gap: 5px;

}
.link1 img{
    width: 15px;
    height: 15px;
    filter: brightness(0) invert(1);
}
.links h1{
    font-family: var(--font-outfit);
    font-size: 30px;

}
.linkinfo
{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 10px;
    justify-content: center;
}
.contactinfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
.visit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}
.foot p,a{
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.link1:hover {
  filter: brightness(0) saturate(100%) invert(84%) sepia(100%) saturate(7469%) hue-rotate(1deg) brightness(105%) contrast(105%);
}

.link2 img{
    width: 16px;
    height: 16px;
     filter: invert(84%) sepia(100%) saturate(7469%) hue-rotate(1deg) brightness(105%) contrast(105%);

}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}
.icons .mail,.git{
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 5px;
    border-radius: 40%;
    
 
}
.icons .linkdin{
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 5px;
    border-radius: 40%;

}
@media screen and (max-width:600px)
{
    .foot
    {
        flex-direction: column;
    }

}