@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

:root {
  --font-outfit: 'Outfit', sans-serif;
}

@import "../../vars.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.p1 img{
    height: 220px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
/*.p1:hover img {
  animation: rotateShake 0.6s ease-in-out;
}*/
.project{
    margin-top: 50px;
    background-color: rgb(12, 25, 81);
    padding: 18px;
    padding-bottom: 35px;
}
.phead{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.phead img{
    width:35px;
    height: 35px;
    filter: brightness(0) invert(1);
}
.phead h1{
    color: white;
    font-family: var(--font-outfit);
    font-size: 35px;
}
.phead h1 span{
    color: #ffff00;
}
.pcart{
     padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 115px;
    margin-top: 70px;
    margin-bottom: 20px;
    justify-content:flex-start;
    align-items: center;
    border-radius: 15px;
}
.p1 h1{
    background-color: rgb(237, 233, 30);
    font-weight: 800;
    padding: 8px;
    width: 100%;
    font-family: var(--font-outfit);
    font-size: 20px;
}
.pcon{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70%;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    opacity: 0;
    transform: translateY(100%);
    pointer-events: none;

}
.pcon a{
    border-radius: 8px;
    padding:10px 15px;
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
}
.pcon a:hover{
    background-color: rgb(34, 34, 215);
}
.p1{
    background-color:black;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    width:100%;
    max-width: 300px;
}
.p1:hover .pcon
{
     animation: slideUp 0.5s ease-out forwards;
     pointer-events: auto;
}
 @keyframes rotateShake {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(3deg); }
  50%  { transform: rotate(-3deg); }
  75%  { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.pcon p,a{
   margin-left: 10px;
   font-family: var(--font-outfit);
}
@media screen and (max-width:600px)
{
    .pcart {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .p1 {
    width: 100%;
    max-width: 270px;
    margin-bottom: 20px;
  }

  .p1 img {
    height: auto;
    max-height: 400px;
  }

  .p1 h1 {
    font-size: 20px;
  }

  .pcon a {
    padding: 8px 12px;
  }
  .pcon{
    height: 90%;
  }
  

}  
